/* Admin utility styles */

.admin-bg-primary { background-color: $brand-primary; color: #ffffff; }

.pods-field[class*=pods-form-ui-row-name-color-] li {
    float: left;
    width: 23%;
    &:first-child { width: 47.5%; }
}