/* WP-specific styles */

p img.alignleft { 
    float: left;
    margin-right: 1em;
    margin-bottom: ($line-height-computed / 2) 
}

p img.aligncenter { 
    @include center-block(); 
    margin-bottom: ($line-height-computed / 2);    
}

p img.alignright { 
    float: right;
    margin-left: 1em;
    margin-bottom: ($line-height-computed / 2) 
}

.navigation {
    display: block;
    width: 100%;
    margin: 20px 0;
    @include clearfix();
}

.navigation .previous { 
    float: left; 
    width: 48%; 
}

.navigation .next { 
    float: right;
    width: 48%;
    text-align: right;
}

.thread-alt { background-color: $gray-lighter; }

.thread-even { background-color: $body-bg; }

.depth-1 { border: 1px solid $gray-light; }

.even, .alt { border-left: 1px solid $gray-light; }

.commentlist,
.commentlist ul,
.commentlist ol { list-style: none; }

.commentlist li ul li {
    margin-right: -5px;
    margin-left: 10px;
}

.commentlist li {
    margin: 15px 0 10px;
    padding: 5px 5px 10px 10px;
    list-style: none;
}

.commentlist li .avatar { 
    float: right;
    border: 1px solid $gray-lighter;
    padding: 2px;
    background-color: $body-bg;
}

.comment-respond .required {
    color: $brand-danger;
}

.comment-respond .form-allowed-tags {
    font-size: .85em;
}

.menu-item:hover .sub-menu {
    display: block;
}
